@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=PT+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'PT Sans', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Navbar */
#navbar {
    background-color: #242582;
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 1.5em;
}

#navbar a:hover {
    background-color: #99738e;
}

/* Section 1 : Welcome */

/* Section 2 : Projects */

/* Section 3 : Contact */
